{% extends 'meetups_app/layouts/layout.html' %}
    
    {% load static %}
    {% block site_css %} 
        <link rel="stylesheet" href ="{% static 'meetups_app/styles/all-meetups.css' %}">
    {% endblock %}
    
    {% block title %} All Mettups {% endblock %}
    {% block main_heading %} {{ heading }} {% endblock %}
    {% block header_content %} {{ header }} {% endblock %}
{%block body %} 
        <section>
            <h2>Upcoming meetups</h2>
            <ol>
                {% for item in data%}
                    {% include 'meetups_app/includes/meetup_item.html'%}
                {%endfor%}
            </ol>
        </section>
{% endblock %}
