<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="" atl="">
            </div>
            <div class="meetup-details">
                <h3>{{item.title}}</h3>
                <address>{{item.address}}</address>
                <p>{{item.description}}</p>
            </div>
        </div>  
        <div class="meetup-actions">
            <a href="{% url 'meetup_details_page' item.slug %" class="btn" >More details</a>
        </div>  
    </article>
</li>